.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
    app-imagen-principal {
        height: 100%;
        border: 3px solid black;
        border-radius: 100%;
    }
}